body{
    background-color: rgb(40, 44, 72);
    color: black;
    color: hsl(0%, 30%, 43%);
}
header{
    color:white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0px;
    text-decoration: blink;
    line-height: 35px;
    word-spacing: 5px;
    text-shadow: 2px,2px,4px,white;
    
}

.om{
    font-size:x-large;
    font-family:cursive;
    background-color: rgba(255, 255, 255, 0.925);
   height: 180px;
   overflow: scroll;
}
.About{
    border: 8px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 26px;
    font-style: oblique;
}
.image-container{
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;   /* THIS makes it responsive */

}
.image-container img {
    width: 300px;
    max-width: 100%;
    border-radius: 100px;
    transition: 0.3s ease;

}
.image-container img:hover {
    transform: scale(1.05);  /* Makes image slightly bigger */
   box-shadow: 0 10px 25px rgba(0,0,0,0.3);
    border: 6px solid #007bff
}
#Emma{
    font-family:Georgia, Times, 'Times New Roman', serif;
}
a:link{
    color: rgba(15, 248, 248, 0.459);
}
a:visited{
    color:rgb(9, 218, 89);
}
a:hover{
    color: rgba(248, 3, 23, 0.534);
}
a:active{
    color: rgb(228, 243, 13);
}
a{
    font-weight: bold;
    text-transform: uppercase;
}
.submit:focus{
    color: rgb(75, 43, 43);
    background-color: aqua;
}
.submit:hover{
   background-color: rgb(30, 123, 210);
   color: blanchedalmond;
}
input.submit:active{
    background-color: rgb(24, 7, 85);
    color: white;
}
.card{
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}
.flb, .Personal_info{
    max-width: 100%;
     width: 350px;
    display:inline-block;
    margin:50px auto 50px 100px;
    padding: 30px;
    background-color: rgb(53, 62, 126);
    border-radius: 10px 12px 35px 10px;
    box-shadow: -10px -10px 10px 0px #777777;
    border-top-left-radius: 15px 15px;
}
.submit{
   padding: 10px 25px;
    font-size: 16px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    min-width: 120px;
}
.bu{
    display:flex;
    justify-content: center;
     gap: 20px;
    flex-wrap: wrap;   /* important for mobile */
    margin-top: 20px;
    margin: 40px;

}